.sub_container{
    display: flex;
    margin: 50px 0;
}
.contact_left{
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 50%; 
    align-items: center;
}
.contact_left input{
    width: 80%;
    height: 100px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 40px;
}
.contact_left textarea{
    width: 80%;
    height: 200px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 40px;
    margin-top: 20px;
}
.submit_contact{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
}
.contact_right{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contact_social{
    font-size: 100px;
    text-align: center;
}
.square{
    width: 60%;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
}
.phone_number{
    margin-left: 20px;
}
.direction{
    align-self: flex-end;
    margin-right: 20px;
}
.mapper{
    font-size: 30px;
    margin-right: 10px;
}
@media screen and (max-width: 740px){
    .sub_container{
        flex-direction: column-reverse;
    }
    .contact_left,
    .contact_right{
        width: 100%;
        border: none;
    }
    .contact_left{
        margin-top: 30px;
    }
}
@media screen and (max-width:340px){
    .phone_number,
    .direction{
        width: 95%;
        margin: 5px 0;
        align-self: center ;
    }
}
