*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.dark_color{
    color: #2d3142;
}
.dark_color a{
    color: #2d3142;
}
.white_color{
    color: white;
}
body{
    /* padding: 20px 50px; */
    font-size: 18px;
}
h1,h2,h3{
    font-family: 'Crimson Text', serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.main_container{
    width: 100%;
    height: 100%;
}
.main_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_menu_top{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.icons_section{
    width: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.search{
    width: 200px;
    height: 25px;
    padding: 0 25px 0 5px;
    border: none;
}
.submit_button{
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    margin-left: -25px;
}

.main_menu_bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 25px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: #bfc0c0; */
    color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}
.main_menu_bottom ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_menu_bottom a{
    color: white;
}
.main_menu_black{
    color: #4f5d75;
}
.main_menu_black .main_menu_bottom{
    border-top: 1px solid #4f5d75;
    border-bottom: 1px solid #4f5d75;
}
.main_menu_black a{
    color: #4f5d75;
}
.main_menu_black .icons_section{
    color: #4f5d75;
}
.main_menu_black .search{
    border: 1px solid #4f5d75;
}
.back_portfolio a{
    color:  #ef8354;
}
.foot{
    display: flex;
    background-color: #2d3142;
    padding-top: 10px;
}
.other_info_upper{
    display: flex;
    justify-content: space-between;
}
.foot_menu{
    width: 250px;
}
.foot_menu ul{
    display: flex;
    flex-wrap: wrap;
    /* width: 250px; */
}
.foot_menu li:nth-child(odd){
    flex: 1 0 25%;
}
.foot_menu li:nth-child(even){
    flex: 1 0 60%;
}
.direction{
    margin-top: 10px;
}
.foot a{
    color: white;
}
@media screen and (max-width: 800px){
    .logo{
        height: 100px;
    }
    .main_menu_bottom{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .main_menu_bottom ul{
        width: 100%;
        flex-direction: column;
    }
    .main_menu_bottom li{
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .foot{
        padding-right: 10px;
    }
}
@media screen and (max-width: 590px){
    .foot{
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 0; 
    }
    .other_info{
        width: 100%;
    }
    .other_info_upper{
        flex-direction: column;
        align-items: center;
    }
    .foot_menu{
        width: 100%;
    }
    .foot_menu ul{
        flex-direction: column;
        align-items: center;
    }
    .foot_menu li{
        flex: 1 0 auto;
        text-align: center;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
    }
    .direction{
        text-align: center;
    }
}
@media screen and (max-width: 450px){
    .main_menu_top{
        flex-direction: column;
        height: 90px;
        align-items: center;
        padding: 10px 0;
    }

}